.root {
  @apply sticky top-0 left-0 right-0 z-50 border-b border-border/40 bg-background/80 backdrop-blur-xl transition-all duration-150 h-16;
}

.link {
  @apply inline-flex items-center leading-6 font-medium transition ease-in-out duration-75 cursor-pointer text-zinc-200 rounded-md p-1;
}

.link:hover {
  @apply text-zinc-100;
}

.link:focus {
  @apply outline-none text-foreground ring-2 ring-ring/50;
}

.logo {
  @apply cursor-pointer transform duration-100 ease-in-out;
}
